/* Entire Body */
.blog-container {
    border: 2px solid #000080;
    padding: 10px;
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 350px 1fr 350px;
    grid-template-rows: 200px, 1fr, 50px;
    grid-template-areas:
        ". hd hd"
        "center center rs"
        "ft ft ft";
}

/* Header */
a {
    text-decoration: none;
    color: #1fb6ff;
}

a:hover {
    color: #026ea4;
}

a:checked {
    color: #026ea4;
}

.article-nav ul li{
    padding: 20px 10px 0 10px;
}

/* Main */
.blog-article {
    border: 1px solid #d3dce6;
    padding: 2em;
}

.info {
    display: flex;
    padding: 0.5em;
}

.top-avatar {
    grid-area: hd;
    width: 75px;
    height: 70px;
    border-radius: 50%;
    float: left;
    justify-items: center;
    margin-left: 3em;
}

.date {
    margin-left: 1.4em;
}

.socials {
    display: flex;
    color: #3c4858;
}

.share {
    margin-left: 2em;
}

.share ul {
    margin: 5px;
    float: right;
}

.share li {
    display: inline-block;
    font-size: 1.15em;
    padding: 0 5px;;
}

.share span {
    font-size: 0.9em;
}

.title {
    margin: 5px 3em 45px;
    text-align: left;
}

figure {
    text-align: center;
    font: italic 0.85em serif;
    border: thin solid #afabab;
    margin: 0.5em;
    padding: 0.5em;
    width: fit-content;
}

.left-figure {
    float: left;
    margin: 1rem;
}

.right-figure {
    float: right;
    margin: 1rem;
}

figure img {
    width: 350px;
    margin: 0 10px;
}

main p {
    font-size: 1.15em;
    color: #3c4858;
    margin: 5px 0.5rem;
    text-align: justify;
    text-indent: 1.75rem;
}

.first-letter {
    font: 35px 'Clicker Script', cursive;
    color: #00568b;

}

.center {
    display: block;
    margin: 10px auto;
    width: fit-content;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-name {
    font: italic small-caps 30px Georgia, serif;
    text-align: center;
}

.lists {
    border: 1px solid #85d7ff;
    border-radius: 10px;
    width: 400px;
    box-shadow: 3px 6px #85d7ff;
    margin: 35px auto;
    background-color: #eaeaea;
}

.lists li {
    font-size: 1em;
    padding: 0.25em;
}

.picture {
    margin: 5px auto;
    width: fit-content;
}

/* Right Sidebar */
.right-sidebar {
    padding-top: 2.5em;
    border: 1px solid #d3dce6;
}

.right-avatar {
    width: 125px;
    height: 120px;
    border-radius: 50%;
}

.name p:first-of-type {
    font-size: 1em;
    margin-top: 0;
}

.name p {
    font-size: 0.95em;
    margin: 5px 10px;
    color: #3c4858;
}

.name h3 {
    margin-bottom: 0;
}

.bio {
    margin-left: 12px;
}

.links {
    margin-top: 75px;
}

.links p {
    text-align: center;
}

.links li {
    margin: 3px;
}

.last-span {
    font: 24px 'Kalam', cursive;
}

/* For some reason auto spacing isn't working 
so I centered it by using 45px on the left only */
.links ul {
    list-style-type: none;
    margin: 5px 45px 0 0;
}

.links ul li {
    text-align: center;
}