.subscribe-container {
    width: 100%;
    border: 2px solid #600;
    padding: 10px;
    background-color: #eaeaea;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: minmax(100px, auto) 1fr 75px;
    grid-template-areas:
        "hd nav"
        "center center"
        "ft ft";
}

#subscribe-name {
    font: 25px 'Rye', cursive;
    color: #d3dce6;
    padding-left: 1.75em;
}

.nav ul {
    padding-right: 2.25em;
}

.subscribe-title h1 {
    font: normal 3.5em 'Merienda', cursive;
    text-align: center;
    margin: 1em auto;
    color: #3c4858;
}

.form-wrapper {
    width: 40%;
    margin: 0.5em auto;
    border: 2px solid #660000;
    padding: 10px;
    background-color: #eaeaea;
    display: flex;
    flex-wrap: wrap;
}

.form-box {
    display: flex;
    flex-wrap: wrap;
}

.row {
    width: 60%;
    margin: 0.8em auto;
    display: block;
    text-align: center;
}

.row label {
    width: 30%;
    text-align: right;
    float: left;
}

.row input {
    width: 50%;
    text-align: left;
    float: right;
    padding: 1em;
    font-size: 1.15em;
    background: #f3f3f3;
    border: 1px solid #a76666;
    border-radius: 8px;
    font: italic 0.9em Georgia, serif;
}

button {
    margin: 1.25em auto;
    padding: 1em;
    font-size: 0.9em;
    border: 1px outset #a76666;
    border-radius: 8px;
}

@media screen and (max-width: 400px) {
    .subscribe-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px;
        grid-template-areas: 
        "hd"
        "nav"
        "center"
        "ft";
    }

    #subscribe-name {
        font-size: 15px;
    }

    .nav ul {
        padding-right: 1.25em;
    }

    .subscribe-title h1 {
        font-size: 2.25em;
    }

    .form-wrapper {
        width: 80%;
        margin-left: 0;
    }

    .row {
        width: 80%;
    }
    
    .row input {

        border: 1.5px solid #a76666;
    }
}
@media screen and (min-width: 401px) and (max-width: 899px) {
    .form-wrapper {
        width: 70%;
        margin: 0 auto;
    }

    .nav ul {
        padding-right: 1.25em;
    }
}
