/* Page layout */
.home-container {
    border: 2px solid #600;
    padding: 10px;
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 325px 1fr 200px;
    grid-template-rows: minmax(100px, auto) minmax(150px, auto) 1fr 75px;
    grid-template-areas:
        "hd hd hd nav"
        "hd2 hd2 hd2 hd2"
        "center center center center"
        "ft ft ft ft";
}

.title {
    margin: 5px 0 45px;
    text-align: left;
}

.hd2 {
    grid-area: hd2;
    background-color: #600;
    color: #d3dce6;
}

.hd2 h2 {
    font: small-caps 2em serif;
    color:#d3dce6;
    padding-left: 3em;
    margin-bottom: 0.5em;
}

.hd2 h3 {
    padding-left: 3em;
}

hr {
    border: 1px solid #d3dce6;
    width: 85%;
    text-align: center;
}

.header {
    grid-area: hd;
    text-align: center;
}

.home-header {
    background-color: #600;

}

#blog-name {
    font: 55px 'Rye', cursive;
    color: #d3dce6;
    padding-left: 1.75em;
}

.home-nav a {
    text-decoration: none;
    color: #d3dce6;
}

.home-nav a:hover {
    color: #98c5d2;
}

.home-nav a:checked {
    color: #98c5d2;
}

.nav {
    grid-area: nav;
}

.home-nav {
    text-align: center;
    background-color: #600;
}

.nav {
    float: right;
    text-align: right;
}

.nav ul {
    list-style-type: none;
    display: flex;
    float: right;
    padding-right: 0.75em;
}

.nav ul li {
    padding: 80px 10px 0 10px;
    font-size: 1.25em;
}

.left-sidebar {
    grid-area: ls;
    padding: 5em 1em;
    border: 1px solid #600;
}

.right-sidebar {
    grid-area: rs;
}

h1,
h2 {
    text-align: left;
    margin-left: 10px;
}

h2 {
    color: #3c4858;
}

/* Main Section */
main {
    grid-area: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px auto;
}

.card {
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(102, 0, 0, 0.326);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(100, 1, 22, 0.652);
}

.container h3 {
    text-align: center;
}

.container p {
    font: 1.15em serif;
    margin: 10px auto;
}

.card img {
    width: 100%;
    height: 325px;
}

.read-more {
    text-align: center;
}

.read-more button {
    margin: 1.3em auto;
    font-size: 0.9em;
    border: 1px outset #a76666;
    border-radius: 8px;
}

/* Footer */
footer {
    grid-area: ft;
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 400px) {
    .home-container {
        width: 100%;
        background-color: #eaeaea;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "nav"
        "hd"
        "hd2"
        "center"
        "ft";
    }

    .nav ul {
        padding-right: 1.25em;
    }

    #blog-name {
        font: 35px 'Rye', cursive;
        color: #d3dce6;
        padding-left: 0.5em;
    }

    .hd2 h2 {
        font: small-caps 1.5em serif;
        color:#d3dce6;
        padding-left: 1em;
        margin-bottom: 0.5em;
    }
    
    .hd2 h3 {
        padding-left: 1em;
        font: normal 1em sans-serif;
    }

    .card-container {
        margin: 15px auto;
    }

    .card {
        margin: 2em auto;
        width: 90%;
    }

    .card img {
        height: 300px;
    }
}

@media screen and (min-width: 401px) and (max-width: 899px) {
    .home-container {
        width: 100%;
        background-color: #eaeaea;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "nav nav"
        "hd hd"
        "hd2 hd2"
        "center center"
        "ft ft";
    }

    #blog-name {
        font: 45px 'Rye', cursive;
        color: #d3dce6;
        padding-left: 1em;
    }

    .hd2 h2 {
        font: small-caps 2em serif;
        color:#d3dce6;
        padding-left: 1.5em;
        margin-bottom: 0.5em;
    }
    
    .hd2 h3 {
        padding-left: 1em;
        font: normal 1.25em sans-serif;
    }
    
    .card {
        margin: 30px auto;
    }
}