/* Page layout */
.home-container {
    border: 2px solid navy;
    padding: 10px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: minmax(100px, auto);
    gap: 5px;
    grid-template-areas:
        "hd nav nav nav"
        "ls center center rs"
        ". ft ft .";
}

.home-container div {
    font-size: 24px;
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
}

.header {
    grid-area: hd;
    text-align: center;
}

.nav {
    grid-area: nav;
    text-align: center;
}

.main {
    grid-area: center;
}

.footer {
    grid-area: ft;
}

.left-sidebar {
    grid-area: ls;
}

.right-sidebar {
    grid-area: rs;
}

/* Left Sidebar */
.name img {
    width: 125px;
    height: 120px;
    border-radius: 50%;
}

.name p:first-of-type {
    font-size: 1em;
    margin-top: 0;
}

.name p {
    font-size: 0.95em;
}

.name h3 {
    margin-bottom: 0;
}

.bio {
    margin-left: 12px;
}

.links p {
    padding: 10px auto 0;
}

h1,
h2 {
    text-align: left;
    margin-left: 10px;
}

h2 {
    color: #3c4858;
}