/* Entire Body */
.blog-container {
    border: 2px solid #000080;
    padding: 10px;
    background-color: #f9fafc;
    display: grid;
    grid-template-columns: 350px 1fr 300px;
    grid-template-rows: 300px, 1fr, 50px;
    gap: 5px;
    grid-template-areas:
        ". hd hd"
        "center center rs"
        "ft ft ft";
}

a {
    text-decoration: none;
    color: #1fb6ff;
}

a:hover {
    color: #0184c5;
}

a:checked {
    color: #0184c5;
}

.header,
footer,
main {
    border: 1px solid #d3dce6;
}

/* Header */
.info {
    display: flex;
    width: 50%;
    float: left;
    justify-items: center;
}

.social {
    display: flex;
    color:#3c4858;
}

.share ul {
    margin-top: 10px;
    float: right;
}

.share li {
    display: inline-block;
    font-size: 1.1em;
    padding: 0 10px;
}

.share span {
    font-size: 13px;
    margin-right: 10px;
}

.top-avatar {
    grid-area: hd;
    width: 75px;
    height: 70px;
    border-radius: 50%;
}

.nav {
    float: right;
    text-align: right;
}

.nav ul {
    list-style-type: none;
    display: flex;
    float: right;
}

.nav ul li {
    padding: 10px;
}

/* Main Content */
main {
    grid-area: center;
}

.title {
    margin: 5px 0 45px;
    text-align: left;
}

.top img {
    width: 300px;
    margin: 0 10px;
    float: left;
}

main p {
    font-size: 1.25em;
    color: #3c4858;
    margin: 5px 15px;
    text-align: justify;
}

.first-letter {
    font: 35px 'Clicker Script', cursive;
    background-color: #fff0c8;
    color: #7e5bef;

}

.center {
    display: block;
    margin: 10px auto;
    width: fit-content;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-name {
    font: italic small-caps 30px Georgia, serif;
    text-align: center;
}

.lists {
    border: 1px solid #85d7ff;
    border-radius: 10px;
    width: 400px;
    box-shadow: 3px 6px #85d7ff;
    margin: 35px auto;
    background-color: #eff2f7;
}

.lists li {
    font-size: 1em;
    padding: 0.25em;
}

.picture {
    margin: 5px auto;
    width: fit-content;
}

/* Right Sidebar */
.right-sidebar {
    grid-area: rs;
}

.right-avatar {
    width: 125px;
    height: 120px;
    border-radius: 50%;
}

.name p:first-of-type {
    font-size: 1em;
    margin-top: 0;
}

.name p {
    font-size: 0.95em;
    margin: 5px 10px;
    color: #3c4858;
}

.name h3 {
    margin-bottom: 0;
}

.bio {
    margin-left: 12px;
}

.links {
    margin-top: 100px;
}

.links p {
    text-align: center;
}

.last-span {
    font: 24px 'Kalam', cursive;
}

/* For some reason auto spacing isn't working 
so I centered it by using 45px on the left only */
.links ul {
    list-style-type: none;
    margin: 5px 45px 0 0;
}

.links ul li {
    text-align: center;
}

/* Footer */
footer {
    grid-area: ft;
}