/* Entire Body */
.blog-container {
    border: 2px solid #000080;
    padding: 10px;
    background-color: #f9fafc;
    display: grid;
    grid-template-columns: 300px 1fr 350px;
    grid-template-rows: minmax(100px, 1fr, 50px);
    gap: 5px;
    grid-template-areas:
        "hd hd nav"
        "ls center center "
        "ft ft ft";
}

a {
    text-decoration: none;
    color: #1fb6ff;
}

a:hover {
    color: #009eeb;
}

a:checked {
    color: #009eeb;
}

.header,
footer,
main {
    border: 1px solid #d3dce6;
}

/* Header */
.header {
    grid-area: hd;
    text-align: center;
}

.nav {
    grid-area: nav;
    text-align: right;
}

.nav ul {
    list-style-type: none;
    display: flex;
    float: right;
}

.nav ul li {
    padding: 10px;
}

/* Main Content */
main {
    grid-area: center;
}

.top img {
    width: 300px;
    margin: 0 10px;
    float: left;
}

p {
    font-size: 1.25em;
    color: #3c4858;
    margin: 5px 15px;
    text-align: justify;
}

.first-letter {
    font: 35px 'Clicker Script', cursive;
    background-color: #fff0c8;
    color: #7e5bef;

}

.center {
    display: block;
    margin: 10px auto;
    width: fit-content;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lists {
    border: 1px solid #85d7ff;
    border-radius: 10px;
    width: 400px;
    box-shadow: 3px 6px #85d7ff;
    margin: 35px auto;
    background-color: #eff2f7;
}

.lists li {
    font-size: 1em;
    padding: 0.25em;
}

.picture {
    margin: 5px auto;
    width: fit-content;
}

/* Left Sidebar */
.left-sidebar {
    grid-area: ls;
}

/* Footer */
footer {
    grid-area: ft;
}